*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #6655fd;
}
.wrapper{
    background: #fff;
    width: 400px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #6655fd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 15px;
}
.wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    margin: 0 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.wrapper .option span{
    color: #808080;
    font-size: 20px;
}
.wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2{
    background: #6655fd;
    border-color: #6655fd;
}
#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot{
    background: #fff;
}
.wrapper .option .dot::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background: #6655fd;
    opacity: 0;
    
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before{
    opacity: 1;
}
#option-1,
#option-2{
    opacity: 0;
}
